*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#3a7bd5,#3a6073);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
display:flex;
gap:30px;
}

.calculator{
background:#1f1f2e;
padding:20px;
border-radius:15px;
width:280px;
}

#display{
width:100%;
height:60px;
font-size:24px;
margin-bottom:10px;
text-align:right;
padding:10px;
border:none;
border-radius:10px;
background:#2c2c3c;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.buttons button{
height:50px;
font-size:18px;
border:none;
border-radius:8px;
background:#3a3a55;
color:white;
cursor:pointer;
}

.buttons button:hover{
background:#55558a;
}

.scientific{
margin-top:15px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.scientific button{
height:40px;
border:none;
border-radius:8px;
background:#ff9800;
color:white;
cursor:pointer;
}

.history{
background:#1f1f2e;
padding:20px;
border-radius:15px;
width:200px;
color:white;
}

.history ul{
margin-top:10px;
list-style:none;
max-height:250px;
overflow-y:auto;
}

.history li{
padding:5px;
border-bottom:1px solid #444;
}